#chaofan{
    width: 100%;
    height: 5302px;
    /* background-color: orange; */
}
#chaofan .content{
    width: 1150px;
    height: 100%;
    /* background-color: pink; */
    margin: auto;
}
/* ---header---------------- */
.header{
    height: 83px;
    width: 100%;
    background-color: white;
}
.header h1{
    width: 420px;
    height: 100%;
    background-image: url(../images/images/logo.png);
    background-repeat: no-repeat;
}
.header ul{
    height: 100%; 
    width: 680px;
    /* background-color: #0062bf; */
}
.header ul li{
    height: 100%; 
    width: 80px;
    text-align: center;
}
.header ul li a{
   display: inline-block;
    font-size: 12px;
    line-height: 83px;
}
.header ul .list1{
    margin-left: 40px;
}
.header .yw{
    display: none;
}
li:hover .zw{
    display: none;
}
li:hover .yw{
    display: inline-block;
}
/* ---banner---------------- */
.banner{
    height: 448px;
    width: 100%;
    background-image: url(../images/images/56f3527bb57ce.jpg);
    background-position: center center;
}
/* ---main1---------------- */
.main1{
    height: 726px;
        width: 100%;
    background-color: white;
}
.main1 a:link{
    color: white;
}
.main1 a:visited{
    color: white;
}
.main1 .content a{
    display: block;

}
.main1 .content{
    text-align: center;
}
.main1 .img1-1{
    margin-top: 42px;
}
.main1 h2{
    font-size: 17px;
    line-height: 17px;
    color: #666666;
    text-align: center;
}
.main1 .h2-1{
    margin-top: 27px;
}
.main1 .h2-2{
    margin-top: 7px;
    margin-bottom: 56px;
}
.main1 .main1-1{ 
    width: 1140px;
    height: 440px;
    /* background-color: black; */
    margin: auto;
}
.main1 .main1-1 .img1-2,.img1-3,.img1-4,.img1-4,.img1-5,.img1-6,.img1-7{
    width: 351px;
    height: 218px;
    margin-right: 43px;

}
.main1 .content .main1-1 div{
position: relative;
}
.main1 .main1-1 .img1-2,.img1-3,.img1-4{
    margin-bottom: 4px;
}
.main1 .main1-1 p{
    text-align: center;
    font-size: 22px;
    line-height: 71px;
    width: 228px;
    height: 71px;
    /* background-color: #0062bf; */
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.main1 .main1-1 .p1{
    background-color: #189bda;
}
.main1 .main1-1 .p2{
    background-color: #1464da;
}
.main1 .main1-1 .p3{
    background-color: #f9c70d;
}
.main1 .main1-1 .p4{
    background-color: #d40476;
}
.main1 .main1-1 .p5{
    background-color: #e12116;
}
.main1 .main1-1 .p6{
    background-color: #95c430;
}
.main1 .content .main1-1 .hg-box1{
    width: 100%;
    height: 100%;
    background-color: #0093dd;
    display: none;
    position: absolute;
    top: 0;
}
.main1 .content .main1-1 .hg-box1 span{
    color: white;
    font-size: 14px;
    line-height: 30px;
    white-space: pre-line;
    display: block;
}
.main1 .content .main1-1 .hg-box1 .hg-wz1{
    margin-top: 40px;
    margin-bottom: 20px;
}
.main1 .content .main1-1 :hover .hg-box1{
display: block;
}
/* ---main2---------------- */
.main2{
    height: 763px;
    width: 100%;
    background-color: #ebeff1;
}
.main2 .content{
    text-align: center;
}
.main2 .clien{
    margin-top: 42px;
    margin-bottom: 26px;
}
.main2 .content h2{
    color: #666666;
    font-size: 17px;
    line-height: 17px;
}
.main2 .content .main2-1{
    width: 1140px;
    height: 502px;
    background-color: white;
    margin: auto;
    margin-top: 57px;
}
.main2 .content .main2-1 div{
    width: 283px;
    height: 166px;
    border-right: 1px solid #ebeff1;
    border-bottom: 1px solid #ebeff1;

}
.main2 .main2-1 .dh1{
    background-image: url(../images/images/okcf2.png);
    background-repeat: no-repeat;
}
.main2 .dh1:hover{
    background-image: url(../images/images/okcf1.png);
}
.main2 .main2-1 .dh2{
    background-image: url(../images/images/ptzt2.png);
    background-repeat: no-repeat;
}
.main2 .dh2:hover{
    background-image: url(../images/images/ptzt1.png);
}
.main2 .main2-1 .dh3{
    background-image: url(../images/images/wdzj2.png);
    background-repeat: no-repeat;
}
.main2 .dh3:hover{
    background-image: url(../images/images/wdzj1.png);
}
.main2 .main2-1 .dh4{
    background-image: url(../images/images/gl2.png);
    background-repeat: no-repeat;
}
.main2 .dh4:hover{
    background-image: url(../images/images/gl1.png);
}
.main2 .main2-1 .dh5{
    background-image: url(../images/images/jmw2.png);
    background-repeat: no-repeat;
}
.main2 .dh5:hover{
    background-image: url(../images/images/jmw1.png);
}
.main2 .main2-1 .dh6{
    background-image: url(../images/images/tjw2.png);
    background-repeat: no-repeat;
}
.main2 .dh6:hover{
    background-image: url(../images/images/tjw1.png);
}
.main2 .main2-1 .dh7{
    background-image: url(../images/images/hl2.png);
    background-repeat: no-repeat;
}
.main2 .dh7:hover{
    background-image: url(../images/images/hl1.png);
}
.main2 .main2-1 .dh8{
    background-image: url(../images/images/sx2.png);
    background-repeat: no-repeat;
}
.main2 .dh8:hover{
    background-image: url(../images/images/sx1.png);
}
.main2 .main2-1 .dh9{
    background-image: url(../images/images/ft2.png);
    background-repeat: no-repeat;
}
.main2 .dh9:hover{
    background-image: url(../images/images/ft1.png);
}
.main2 .main2-1 .dh10{
    background-image: url(../images/images/hy2.png);
    background-repeat: no-repeat;
}
.main2 .dh10:hover{
    background-image: url(../images/images/hy1.png);
}
.main2 .main2-1 .dh11{
    background-image: url(../images/images/lzy2.png);
    background-repeat: no-repeat;
}
.main2 .dh11:hover{
    background-image: url(../images/images/lzy1.png);
}
.main2 .main2-1 .dh12{
    background-image: url(../images/images/ys2.png);
    background-repeat: no-repeat;
}
.main2 .dh12:hover{
    background-image: url(../images/images/ys1.png);
}
/* ---main3---------------- */

.main3{
    height: 682px;
    width: 100%;
    background-color: white;
}
.main3 .content{
    text-align: center;
}
.main3 .content .work{
    margin-top: 42px;
    margin-bottom: 26px;
}
.main3 .content h2{
    color: #666666;
    font-size: 17px;
    line-height: 17px;
    margin-bottom: 57px;

}
.main3 .content .main3-1{
    width: 1140px;
    height: 423px;
    background-color: white;
    margin: auto;
  
}
.main3 .content .main3-1 .main3-2{
    width: 283px;
    height: 211px;
    margin-right: 2px;
    margin-bottom: 1px;
    position: relative;
  
}
.main3 .content .main3-1 .main3-2-img{
    width: 100%;
    height: 100%;
}
.main3 .main3-hg h3{
position: relative;
top: 30%;
}
.main3 .main3-hg .xtp2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.main3 .main3-hg  p{
    color: white;
    margin-top: 80px;
    font-weight: 700;
}
.main3 .main3-hg{
    width: 100%;
    height: 100%;
    background-color: #0093dd;
    position: absolute;
    top: 0;
    display: none

}
.main3 .main3-2:hover .main3-hg{
display: block;
}
/* ---main4---------------- */

.main4{
    height: 801px;
    width: 100%;
    background-color: #145c75;
}
/* .main4 .content{
    text-align: center;
} */
.main4 .content .news{
    margin-top: 42px;
    margin-bottom: 26px;
   margin-left: 40%;
}
.main4 .content .main4-title{
    color: white;
    font-size: 17px;
    line-height: 17px;
    margin-bottom: 57px;
    text-align: center;

}
.main4 .content .main4-1{
    width: 1140px;
    height: 528px;
    background-color: #2c8ba9;
    margin: auto;
  
}
.main4 .content .main4-1 .main4-2,.main4-3,.main4-4,.main4-5,.main4-6,.main4-7{
    width: 550px;
    height: 166px;
    background-color: white;
    margin-right: 40px;
    margin-bottom: 15px;
}

.main4 .content .main4-1 h2{
font-size: 16px;
line-height: 16px;
margin-top: 29px;
margin-bottom: 13px;

}
.main4 .content .main4-1 p{
    color: #ae8888;
    font-size: 12px;
    line-height: 22px;
    text-indent: 1em;
    overflow: hidden;
    white-space: pre-line;
    width: 320px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:3;
    -webkit-box-orient: vertical;  
    margin-bottom: 15px;
}
.main4 .content .main4-1 span{
    display: inline-block;
    color: #ddd0cc;
    font-size: 12px;
    line-height: 12px;
}
.main4 .content .main4-1 .sp2{
margin-right: 40px;

}
.main4 .content .main4-1 .hzh1,.hzh2,.hzh3,.hzh4,.hzh5,.hzh6{
    height: 100%;
    width: 362px;
    margin-left: 18px;
}
/* ---main5---------------- */

.main5{
    height: 912px;
    width: 100%;
    background-color: white;
}
.main5 .content .title {
 margin-left: 40%;
 margin-top: 42px;
 margin-bottom: 26px;
}
.main5 .content .main5-title{
    color: #666666;;
    font-size: 17px;
    line-height: 17px;
    margin-bottom: 57px;
    text-align: center;

}
.main5 .content .dh{
    height: 130px;
    width: 1140px;
}
.main5 .content .dh ul{
    height: 130px;
    width: 1140px;   
    border-bottom: 1px solid grey;
}
.main5 .content .dh ul li{
    height: 100%;
    width: 285px;
    /* background-color: pink; */
    text-align: center;

}
.main5 .content .dh ul li span{
   font-size: 14px;
   line-height: 14px;
   color: #b2b2c2;
   display: block;
   margin-top: 99px;
   
}
.main5 .content .dh ul .list1{ 
    background:url(../images/images/images/dh_xtb_01.png) no-repeat;
    background-position: center 0;
}
.main5 .content .dh ul .list1:hover{
    background: url(../images/images/images/12.png) no-repeat;
    background-position: center 0;
    border-bottom: 2px solid #0093dd;
 
}
.main5 .content .dh ul .list1:hover .main5-dh1{
    display: block;
}
.main5 .content .dh ul .list2{
    background:url(../images/images/images/dh_xtb_03.png) no-repeat;
    background-position: center 0;

}
.main5 .content .dh ul .list2:hover{
    background: url(../images/images/images/dh_xtb_04.png) no-repeat;
    background-position: center 0;
    border-bottom: 2px solid pink;

}
.main5 .content .dh ul .list3{
    background:url(../images/images/images/dh_xtb_05.png) no-repeat;
    background-position: center 0;

}
.main5 .content .dh ul .list3:hover{
    background: url(../images/images/images/dh_xtb_06.png) no-repeat;
    background-position: center 0;
    border-bottom: 2px solid #0093dd;

}
.main5 .content .dh ul .list4{
    background:url(../images/images/images/dh_xtb_07.png) no-repeat;
    background-position: center 0;

} 
.main5 .content .dh ul .list4:hover{
    background: url(../images/images/images/dh_xtb_08.png) no-repeat;
    background-position: center 0;
    border-bottom: 2px solid greenyellow;

}
.main5 .content .main5-bottom{
    width: 100%;
    height: 461px;
    background-color: #00254a;
    margin-top: 50px;
}
.main5 .content .main5-bottom img{
    width: 100%;
    height: 100%;
}
.main5 .content .main5-bottom .main5-dh1,.main5-dh2,.main5-dh3,.main5-dh4{
    width: 100%;
    height: 100%;
    /* display: none; */
}
/* ---main6---------------- */
.main6{
    height: 224px;
    width: 100%;
    text-align: center;

   background-image: url(../images/images/blue-bg.png);
}
.main6 .line{
    position: absolute;
    height: 5px;
    width: 500px;
    background: url(../images/images/blue-bg.png);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   
}
.main6 .bg-box{
    width: 33%;
    height: 100%;
    text-align: center;
 
}
.main6 .bg-box h2{
    width: 100%;

    height: 67px;
    position: relative;
    top: 57px;
}
.main6 .title{
    color: white;
    font-size: 67px;
    line-height: 67px;

}
.main6 .title-bt{
    color: white;
    font-size: 15px;
    line-height: 15px;
    display: block;
    margin-top: 100px;

}
/* ---footer---------------- */
.footer{
    height: 663px;
    width: 100%;
    background-color: #141414;
}
.footer .footer-top{
    height: 382px;
    width: 100%;
    /* background-color: greenyellow; */
overflow: hidden;
}
.footer .footer-top .title{
font-size: 44px;
color: white;
margin-top: 40px;
text-align: center;

}
.footer .top-2{
    width: 1154px;
    height: 80px;
   /* background-color: pink; */

}
.footer .top-2 ul{
    width: 100%;
    height: 100%;
    margin-top: 40px;
}
.footer .top-2 ul li{
    height: 100%;
    width: 25%;
   /* background-color: white; */
   float: left;
   /* text-align: center; */
}
.footer .top-2 ul .list1{
    background: url(../images/images/foot_tel.png) no-repeat;
    background-position-y: center;
}
.footer .top-2 ul .list2{
    background: url(../images/images/foot_wx.png) no-repeat;
    background-position-y: center;
}
.footer .top-2 ul .list3{
    background: url(../images/images/foot_qq.png) no-repeat;
    background-position-y: center;
}
.footer .top-2 ul .list4{
    background: url(../images/images/foot_sq.png) no-repeat;
    background-position-y: center;
}
.footer .top-2 ul  p{
    font-size: 16px;
    line-height: 16px;
    margin-left: 70px;
}
.footer .top-2 ul .list1-p1{
    color: #cbbb90;
    margin-top: 15px;
    margin-bottom: 10px;
}
.footer .top-2 ul  .list1-p2{
    color: white;
}
.footer .footer-top .title-2{
    font-size: 24px;
    color: white;
    margin-top: 42px;
    text-align: center;
    }

.footer .top-3{
    width: 1154px;
    height: 82px;
   /* background-color: pink; */

}
.footer .top-3 ul{
    width: 100%;
    height: 100%;
    margin-top: 10px;
}
.footer .top-3 ul li{
    height: 75px;
    width: 266px;
   /* background-color: white; */
   float: left;
   /* text-align: center; */
   border: 1px solid grey;
  
   margin-right: 25px;
}
.footer .top-3 ul  p{
    font-size: 12px;
    line-height: 80px;
   text-align: center;
    color: #aa9b71;
}
.footer .top-3 ul .list5{
    background: url(../images/images/foot_c1.png) no-repeat;
    background-position-y: center;
}
.footer .top-3 ul .list6{
    background: url(../images/images/foot_c2.png) no-repeat;
    background-position-y: center;
}
.footer .top-3 ul .list7{
    background: url(../images/images/foot_c3.png) no-repeat;
    background-position-y: center;
}
.footer .top-3 ul .list8{
    background: url(../images/images/foot_c4.png) no-repeat;
    background-position-y: center;
}
.footer .footer-bt{
    height: 220px;
    width: 100%;
/* background-color: orange; */
margin-top: 30px;
border-bottom: 1px solid grey;
}
.footer .footer-bt .right-1,.right-2{
    width: 140px;
    height: 170px;
}
.footer .footer-bt .right-1{
    margin-left: 180px;
}
.footer .footer-bt .right-1 p{
color: white;
font-size: 12px;
text-align: center;
}
.footer .footer-bt .right-2 p{
    color: white;
    font-size: 12px;
    text-align: center;
    }
.footer .footer-bt .right-1 img{
    width: 100%;
    height: 100%;
}
.footer .footer-bt .right-2 img{
    width: 100%;
    height: 100%;
}
.footer .footer-bt p{
    font-size: 16px;
    line-height: 16px;
    color: #7f7f7f;
    margin-top: 12px;
    margin-bottom: 12px;
}
/* -----固定------ */
.gud{
    width: 50px;
    height: 200px;
    background-color: pink;
    position: fixed;
    right: 0;
    bottom: 50px;
}
.gud div{
width: 100%;
height: 50px;
}
.gud .gud1{
    /* background-color: yellowgreen; */
    background-image: url(../images/images/foot_c3.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.gud .gud2{
    /* background-color: blueviolet; */
    background: url(../images/images/foot_c2.png) no-repeat;
    background-position: center center;

}
.gud .gud3{
    /* background-color: green; */
    background: url(../images/images/foot_wx.png) no-repeat;
    background-position: center center;

}
.gud .gud4{
    background: url(../images/images/exp_zx_xbt1.png) no-repeat;
    background-position: center center;
 
}