html,body{
    height: 100%;
}
#huliji{
    height: 100%;
    background-color: white;
    .content{
        width: 92%;
        // background-color: antiquewhite;
        margin: auto;
    }
    .header{
        height: 1.44rem;
         .content{
             height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            div{
                display: flex;
                width: 3.733333rem;
                align-items: center;
             h1{ 
                 width: 2.48rem;
                 height: .853333rem;
                 img{
                    width: 100%;
                 }
             }
             .sp1{
                display: inline-block;
                margin-left: .266667rem;
                width: .8rem;
            }
            }
             span{
            
                 font-size: .293333rem;
                 line-height: .293333rem;
             }
            .sp2{
                 display: inline-block;
                 width: .426667rem;
                 height: .4rem;
                 img{
                     width: 100%;
                 }
             }
         }
    }
    .banner{
        .content{
        img{
            width: 100%;

            border-radius: .333333rem;
        }
        }
    }
    .nav{
        .content{
            ul{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                li{
                    display: flex;
                    flex-direction: column;
                    margin-right: .533333rem;
                    text-align: center;
                    margin-bottom: .466667rem;
                    position: relative;
                    .dh{
                        width: 100%;
                        height: 0;
                        background-color: white;
                       overflow: hidden;
                       position: absolute;
                       top: 0;
                       left: 0;
                    transition: height 0.5s;

                       span{
                           font-style: normal;
                       }
                       img{
                           width: 100%;
                       }
                    }
                    i{
                        display: inline-block;
                        width: 1.333333rem;
                        img{
                            width: 100%;
                        }
                    }
                    span{
                        font-size: .293333rem;
                        line-height: .293333rem;
                    }
                }
                li:hover .dh{
                   height: 1.6rem;
                }
                .list{
                    margin-right: 0;
                }
              
            }
        }
        .qt{
            display: flex;
            height: 4.4rem;
            margin-top: .466667rem;
            .left{
                flex: 1;
                img{
                    width: 100%;
                    border-radius: .333333rem;
                }
            }
            .right{
                flex: 1;
                display: flex;
                flex-direction: column;
                margin-left: .16rem;
                img{
                    width: 100%;
                    border-radius: .333333rem;
                }
                .tp{
                  flex: 1;
                  margin-bottom: .186667rem;
                }
                .bt{
                    flex: 1;
                }
            }
        }
    }
    .main1{
         .content{
             .title{
                 height: 1.866667rem;
                 display: flex;
                 justify-content: space-between;
                 align-items: center;
                 h2{
                     font-size: .493333rem;
                     font-weight: 700;
                 }
                 span{
                    a{
                         font-size: .333333rem;
                     color: #959595;
                    }
                 }
             }
            .hzsj{
                width: 100%;
                display: flex;
                overflow: auto;
                flex-wrap: nowrap;
                .sj{
                    width: 3.733333rem;
                    height: 4.746667rem;
                    // background-color: pink;
                    margin-right: .266667rem;
                    border-radius: .4rem;
                    box-shadow: 0rem 0rem 2rem 0rem #f6f6f6;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    flex-shrink: 0;
                 img{
                    width: 1.6rem;
                    border: 1px solid #e8e8e8;
                    border-radius: 50%;
                    margin-top: .533333rem;
                 }
                }
            }
         }
    }
}