#box {
  width: 375px;
  height: 2902px;
  background-color: #f4f4f4;
}

#box .yd-header {
  height: 45px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 11px;
  box-sizing: border-box;
}

#box .yd-header span {
  font-size: 15px;
  line-height: 15px;
}

#box .yd-main .banner {
  height: 210px;
  width: 100%;
}

#box .yd-main .banner img {
  width: 100%;
  height: 100%;
}

#box .yd-main .nav {
  height: 75px;
  background-color: white;
}

#box .yd-main .nav ul {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#box .yd-main .nav ul li a {
  display: inline-block;
}

#box .yd-main .nav ul li a p {
  height: 40px;
}

#box .yd-main .nav ul li a p img {
  height: 100%;
}

#box .yd-main .nav ul li a span {
  font-size: 8px;
  line-height: 8px;
  color: black;
}

#box .yd-main .article {
  height: 65px;
  background-color: white;
  margin-top: 10px;
  background: url(../images/images/bg.png) no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 90px;
  box-sizing: border-box;
}

#box .yd-main .article p {
  color: #c9bea2;
}

#box .yd-main .article p .sp1 {
  font-size: 8px;
  line-height: 14px;
  border: 1px solid #d1cb9b;
}

#box .yd-main .article p .sp2 a {
  font-size: 10px;
  color: black;
}

#box .yd-main .article2, #box .yd-main .article5 {
  width: 100%;
  background-color: white;
  margin-top: 10px;
}

#box .yd-main .article2 .banner1, #box .yd-main .article5 .banner1 {
  width: 350px;
  height: 170px;
  margin: auto;
}

#box .yd-main .article2 .banner1 img, #box .yd-main .article5 .banner1 img {
  width: 100%;
  height: 100%;
}

#box .yd-main .article2 .gundt, #box .yd-main .article5 .gundt {
  margin-top: 4px;
  display: flex;
  overflow: auto;
}

#box .yd-main .article2 .gundt dl, #box .yd-main .article5 .gundt dl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
}

#box .yd-main .article2 .gundt dl dt img, #box .yd-main .article5 .gundt dl dt img {
  width: 100px;
  height: 100px;
}

#box .yd-main .article2 .gundt dl dd, #box .yd-main .article5 .gundt dl dd {
  font-size: 8px;
  white-space: pre-line;
  text-align: center;
}

#box .yd-main .article2 .gundt dl span, #box .yd-main .article5 .gundt dl span {
  font-size: 9px;
  font-weight: 800;
}

#box .yd-main .article3, #box .yd-main .article4 {
  width: 100%;
  background-color: white;
  padding-top: 10px;
}

#box .yd-main .article3 .banner2, #box .yd-main .article4 .banner2 {
  width: 350px;
  height: 170px;
  margin: 0px auto;
}

#box .yd-main .article3 .banner2 img, #box .yd-main .article4 .banner2 img {
  width: 100%;
  height: 100%;
}

#box .yd-main .article3 .gundt, #box .yd-main .article4 .gundt {
  margin-top: 4px;
  display: flex;
  overflow: auto;
}

#box .yd-main .article3 .gundt dl, #box .yd-main .article4 .gundt dl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
}

#box .yd-main .article3 .gundt dl dt img, #box .yd-main .article4 .gundt dl dt img {
  width: 100px;
  height: 100px;
}

#box .yd-main .article3 .gundt dl dd, #box .yd-main .article4 .gundt dl dd {
  font-size: 8px;
  white-space: pre-line;
  text-align: center;
}

#box .yd-main .article3 .gundt dl span, #box .yd-main .article4 .gundt dl span {
  font-size: 9px;
  font-weight: 800;
}

#box .yd-main .little-title {
  height: 100px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 10px 0px #f7f7f7;
}

#box .yd-main .little-title h2 {
  font-size: 13px;
  line-height: 13px;
  margin-bottom: 5px;
  letter-spacing: 29px;
}

#box .yd-main .little-title h3 {
  font-size: 7px;
  line-height: 7px;
}

#box .yd-main .good {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#box .yd-main .good dl {
  width: 160px;
  height: 222px;
  background-color: white;
  margin-top: 15px;
}

#box .yd-main .good dl dt img {
  width: 100%;
  height: 100%;
}

#box .yd-main .good dl dd {
  padding-left: 17px;
  box-sizing: border-box;
}

#box .yd-main .good dl dd .sm {
  font-size: 9px;
  line-height: 14px;
  white-space: pre-line;
  margin-bottom: 5px;
}

#box .yd-main .good dl dd .sp1 {
  font-size: 10px;
  line-height: 10px;
  color: #ff4c84;
}

#box .yd-main .good dl dd .sp2 {
  font-size: 10px;
  line-height: 10px;
  color: #9b9b9b;
  margin-left: 60px;
}

#box .yd-main .good .tejia, #box .yd-main .good .tejia1, #box .yd-main .good .tejia2 {
  position: relative;
}

#box .yd-main .good .tejia .xht, #box .yd-main .good .tejia1 .xht, #box .yd-main .good .tejia2 .xht {
  background-color: #f7731e;
  width: 60px;
  height: 12px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  position: absolute;
  right: 0px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box .yd-main .good .tejia .xht a, #box .yd-main .good .tejia1 .xht a, #box .yd-main .good .tejia2 .xht a {
  color: white;
  font-size: 9px;
}

#box .yd-main .good .tejia1 .xht {
  width: 43px;
}

#box .yd-main .good .tejia2 .xht {
  width: 35px;
}

#box .yd-footer {
  height: 65px;
  width: 100%;
  background-color: white;
  margin-top: 15px;
  border-top: 1px solid #dfdfdf;
}

#box .yd-footer ul {
  display: flex;
  justify-content: space-around;
}

#box .yd-footer ul li {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}

#box .yd-footer ul li p {
  margin-bottom: 9px;
}

#box .yd-footer ul li p img {
  height: 19px;
}

#box .yd-footer ul li span {
  font-size: 10px;
  line-height: 10px;
  color: #b6b6b6;
}

#box .yd-footer ul li .hg {
  display: none;
  position: absolute;
}

#box .yd-footer ul li .hg span {
  color: black;
}

#box .yd-footer ul li:hover .hg {
  display: flex;
  flex-direction: column;
}
