#box{
    border: 1px solid red;
}
#box .content{
    width: 1200px;
    /* background-color: aquamarine; */
    margin: auto;
}
.clearfix::after{
    content: "";
    clear: both;
    height: 0;
    display: block;
    overflow: hidden;
    visibility: hidden;
}
/* -------header-------- */
.header{
    height: 70px;
    /* position: fixed;
    top: 0;
    left: 82px;
    z-index:999; */
}
.header .content{
    position: relative;
}
.header h1{
    width: 72px;
    height: 70px;
    background: url(../images/images/logo_1.png) no-repeat 0 center;
}
.header .dizhi{
    font-size: 12px;
    line-height: 70px;
    margin-left: 16px;
    color: #ffa000;
}
.header .nav{
    position: absolute;
     right: 0px;
}
.header ul li{
    width: 100px;
    line-height: 70px;
    text-align: center;
}
.header .nav li a{
    display: block;
}
.header .nav li a:link{
    color: black;
}
.header .nav li a:visited{
    color: black;
}
.header .nav li:hover a{
    color: #ffa000;
}
/* -------banner--------- */
.banner{
    width: 100%;
    height: 350px;
    background: url(../images/images/banner.png);
    background-position: center center;
    position: relative;
    /* top: 70px; */
}
.banner .daoh{
    width: 240px;
    position: absolute;
    left: 82px;
    top: 0;
    bottom: 0;
    background-color: #a9a8a7;
    opacity: 0.7;

}
.banner .daoh .nav1{
    text-align: center;
}
.banner .daoh .nav1 .ls{
    width: 100%;
    height: 60px;
}
.banner .daoh .nav1 .list1{
    background: url(../images/images/icon-b-1.png) no-repeat 50px 20px;
    /* margin-bottom: 48px;
    margin-top: 30px; */
}
.banner .daoh .nav1 .list2{
    background: url(../images/images/icon-b-2.png) no-repeat 50px 20px;
    /* margin-bottom: 48px; */


}
.banner .daoh .nav1 .list3{
    background: url(../images/images/icon-b-3.png) no-repeat 50px 20px;
    /* margin-bottom: 48px; */

}
.banner .daoh .nav1 .list4{
    background: url(../images/images/icon-b-4.png) no-repeat 50px 20px;
    /* margin-bottom: 48px; */

}
.banner .daoh .nav1 .list5{
  background: url(../images/images/icon-b-5.png) no-repeat 50px 20px;
}
.banner .daoh .nav1 .ls .lj{
    color: white;
    font-size: 17px;
    line-height: 60px;
}
.banner .daoh .nav1 .ls .nav2{
    position: absolute;
    width: 400px;
    left: 240px;
    top: 0;
   height: 350px;
    background-color: gray;
    display: none;
    
}
.banner .daoh .nav1 .ls .nav2 .ll{
    width: 110px;
    border-right: 1px solid white; 
    margin: 30px 0;

}
.banner .daoh .nav1 .ls .nav2 .ll a{
color: white;
}
.banner .daoh .nav1 .ls:hover .nav2{
    display: block;
}
.banner .daoh .nav1 .ls:hover{
    background-color: gray;
}
.banner .daoh .nav1 .ls .nav2 .ll:hover a{
    color: #ffa000;
}
/* ---------main1---------- */
.main1 .hezi{
    width: 110px;
    height: 100px;
    /* background-color: #ffa000; */
    float: left;
    margin: 40px 45px;
}

.main1 .xt{
    width: 60px;
    height: 60px;
    margin: auto;
}
.main1 .hezi p{
    font-size: 15px;
    line-height: 15px;
    text-align: center;
margin-top: 20px;
}
.main1 .hzh1{
    background: url(../images/CSS3.png) no-repeat;
}
.main1 .hzh2{
    background: url(../images/CSS3.png) no-repeat 0 -70px;
}
.main1 .hzh3{
    background: url(../images/CSS3.png) no-repeat 0 -140px;;
}
.main1 .hzh4{
    background: url(../images/CSS3.png) no-repeat 0 -210px;
}
.main1 .hzh5{
    background: url(../images/CSS3.png) no-repeat 0 -280px;
}.main1 .hzh6{
    background: url(../images/CSS3.png) no-repeat 0 -350px;
}
.main1 .xia .title{
    display: inline-block;
    font-size: 25px;
}
.main1 .xia .sp{
    display: inline-block;
    font-size: 12px;
    color: #8c4c4c;
    margin-left: 20px;
} 
.main1 .xia .xia-1{
    margin-top: 20px;
}
.main1 .xia img{
    width: 100%;
    height: 100%;
}
.main1 .xia .left{
    width: 540px;
    height: 360px;
    margin-right: 10px;
    position: relative;
}
.main1 .xia .left .p1{
    background-color: black;
    opacity: 0.5;
    height: 80px;
    font-size: 14px;
    line-height: 80px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.main1 .xia .left .p1 a{
    color: white;
}
.main1 .xia .center{
    width: 262px;
    height: 360px;
    margin-right: 10px;
}
.main1 .xia .center .cen-t,.cen-b{
    height: 175px;
    width: 262px;
    margin-bottom: 10px;
    position: relative;
}


.main1 .xia .center .p1-1{
   font-size: 16px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.5;
    padding-left: 20px;
    padding-right: 10px;
}
.main1 .xia .center .p1-2{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 16px;
    height: 60px;
    width: 100%;
    line-height: 60px;
    text-align: center;
    background-color: black;
    opacity: 0.5;
}
.main1 .xia .center .p1-2 a{
    color: white;
}
.main1 .xia .center .cen-t .p1-1 a{
    color: white;
}
.main1 .xia .right{
    width: 378px;
    height: 360px;
}
/* -----------main2---------- */
.main2 .nav3{
    width: 100%;
    height: 72px;
}
.main2 .nav3 .list{
    font-size: 12px;
    line-height: 72px;
    width: 108px;
    text-align: center;
}
.main2 .nav3  a{
    display: block;
    color: black;
}
.main2 .nav3 .a1{
    color: #9b9b9b;
}
.main2 .nav3 .list:hover a{
    color: #ffa000;
}
.main2 .nav3 .list1{
    /* padding-left: 0; */
    font-size: 12px;
    line-height: 72px;
}
.main2 .nav3 span{
    font-size: 12px;
    line-height: 72px;
}
.main2 .content{
    position: relative;
}
.main2 .nav3 .list .bbox{
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
}
.main2 .nav3 .list1 .bbox{
    display: none;
    
}
.main2 .nav3 .list1:hover .bbox{
    display: block;
}
.main2 .nav3 .list2 .bbox{
    display: none;
}
.main2 .nav3 .list2:hover .bbox{
    display: block;
}
.main2 .nav3 .list3 .bbox{
    display: none;
}
.main2 .nav3 .list3:hover .bbox{
    display: block;
}
.main2 .nav3 .list4 .bbox{
    display: none;
}
.main2 .nav3 .list4:hover .bbox{
    display: block;
}
.main2 .nav3 .list5 .bbox{
    display: none;
}
.main2 .nav3 .list5:hover .bbox{
    display: block;
}
.main2 .nav3 .list6 .bbox{
    display: none;
}
.main2 .nav3 .list6:hover .bbox{
    display: block;
}
.main2 .nav3 .list7 .bbox{
    display: none;
}
.main2 .nav3 .list7:hover .bbox{
    display: block;
}
.main2 .nav3 .list8 .bbox{
    display: none;
}
.main2 .nav3 .list8:hover .bbox{
    display: block;
}
.main2 .nav3 .list .bbox .bt{
    width: 568px;
    height: 160px;
    /* background-color: #8c4c4c;   */
    margin-bottom: 26px;
 
}
.main2 .nav3 .nav-ul img{
    width: 240px;
    height: 160px;
  
}
.main2 .nav3 .list .bbox .bt:nth-child(2n+1){
    margin-right: 30px;
}
.main2 .nav3 .bbox .wz{
    width: 296px;
    height: 160px;
    margin-left: 30px;
}
.main2 .nav3 .bbox .wz a{
    color: black;
}
.main2 .nav3 .bbox .wz h2{
    font-size: 18px;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
   margin-top: 8px;
}
.main2 .nav3 .bbox .wz .p1{
height: 12px;
margin-top: 18px;
}
.main2 .nav3 .bbox .wz span{
    font-size: 12px;
    line-height: 12px;
    color: #c8c8c8;
    display: inline-block;
    /* margin-right: 200px; */

}
.main2 .nav3 .bbox .wz .sp2{
    margin-right: 180px;
}

.main2 .nav3 .bbox .wz .p2{
    font-size: 12px;
    line-height: 24px;
    margin-top: 30px;
}
/* --------------main3------------ */

.main3 {
    width: 100%;
    background-color: #f8f8f8;
}
.main3 .title{
    font-size: 25px;
    line-height: 88px;
    display: inline-block;
}
.main3 .sp1{
    font-size: 12px;
    line-height: 88px;
    margin-left: 20px;
}
.main3 .sp2{
    line-height: 88px;
}
.main3 .sp2 a{
    font-size: 12px;
  color: #9b9b9b;
}
.main3 .main3-cen{
    height: 180px;
    width: 100%;
    background: url(../images/images/bg-help.png);
    position: relative;
}
.main3 .main3-cen .help{
    font-size: 25px;
    line-height: 25px;
    font-weight: 800;
    position: absolute;
    top: 52px;
    left: 250px;
}
.main3 .main3-cen .h3-help a{
    display: inline-block;
    font-size: 18px;
    line-height: 60px;
    width: 180px;
    color: white;
    text-align: center;
    background-color: #ffa000;
    position: absolute;
    top: 50px;
    right: 150px;
    border-radius: 60px;
}
.main3 .main3-cen .ewm{
    width: 180px;
    height: 190px;
   position: relative;
   left: 870px;
   top: -180px;
   background-color: white;
   text-align: center;
   display: none;
}
.main3 .main3-cen .h3-help:hover .ewm{
    display: block;
}
.main3 .main3-cen .ewm img{
    width: 120px;
    height: 120px;
    margin-top: 20px;
}
.main3 .main3-cen .ewm .mf{
    font-size: 14px;
    line-height: 14px;
    white-space: pre-line;
    padding-top: 5px;
}
.main3 .main3-cen .p1-help{
    font-size: 14px;
    line-height: 14px;
    position: absolute;
    top: 110px;
    left: 250px;
}
.main3 .main3-bt .bt{
    width: 270px;
    height: 335px;
    background-color: white;
     margin: 30px 40px 40px 0;
   
}
.main3 .main3-bt .bt img{
    width: 100%;
}
.main3 .main3-bt .bt .im{
    position: relative;
    background-color: #151515;
    opacity: 0.7;
}
.main3 .main3-bt .zj{
    position: absolute;
    /* color: white; */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.main3 .main3-bt span{
    display: inline-block;
    width: 66px;
    height: 26px;
    background-color: #fdf2e9;
    font-size: 11px;
    text-align: center;
    line-height: 26px;
    border-radius: 60px;
    margin-top: 15px;
     
}
.main3 .main3-bt .wz{
    height: 100px;
 
    border-top:1px dashed  #e8e8e8;
  
   margin: 12px 20px auto 20px;
}
.main3 .main3-bt .wz p{
    color: #666666;
    font-size: 12px;
   
}
.main3 .main3-bt .wz .p1{
    margin-top: 14px;
    padding-left: 28px;
    background: url(../images/images/icon-q.png) no-repeat;
}

.main3 .main3-bt .wz .p2{
    margin-top: 14px;
    padding-left: 28px;
    background: url(../images/images/icon-q.png) no-repeat;
}
.main3 .main3-bt .wz .p3{
    margin-top: 14px;
    padding-left: 28px;
    background: url(../images/images/icon-q.png) no-repeat;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* ---------main4---------- */
.main4 .content{
 width: 1200px;
 margin: auto;
}
.main4 .title{
    font-size: 26px;
    line-height: 26px;
    display: inline-block;
    margin-top: 50px;
}
.main4 .sp{
    font-size: 12px;
    line-height: 12px;
    margin-left: 20px;
}
.main4 .content .top{
    height: 350px;
    background-image: url(../images/images/bg-counsoler.png);
    margin-top: 20px;
    position: relative;
}
.main4 .content .top .jis{
    width: 366px;
    height: 290px;
    background-color: #07151d;
    position: absolute;
    top: 30px;
    left: 30px;

}
.main4 .content .top .jis .shuip{
    width: 263px;
    color: white;
    font-size: 18px;
    line-height: 18px;
     margin-top: 30px;
     margin-left: 55px;
    text-align: center;

}
.main4 .content .top .jis .shuip::before{
    content: "";
    border-top: 1px dashed grey;
    display: inline-block;
    width: 76px;
    position: relative;
    top: -5px;
}
.main4 .content .top .jis .shuip::after{
    content: "";
    border-top: 1px dashed grey;
    display: inline-block;
    width: 76px;
    position: relative;
    top: -5px;
}
.main4 .content .top .jis ul{
    margin-top: 25px;
    margin-left: 35px;
}
.main4 .content .top .jis .list{
    width: 90px;
    height: 36px;
    background-color: white;
    text-align: center;
    font-size: 12px;
    line-height: 36px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.main4 .content .title{
    font-size: 12px;
    margin-top: 40px;
    margin-bottom: 30px;
    display: inline-block;

}
.main4 .content .sp{
    font-size: 12px;
    /* display: inline-block; */
}
.main4 .content .bottom{
    width: 100%;
}
.main4 .content .bottom .dh{
    height: 274px;
    margin-bottom: 30px;
}
.main4 .content .bottom .dh .mx{
    height: 100%;
    width: 224px;
    margin-right: 20px;
    /* background-color: #8c4c4c; */
    background-image:url(../images/images/zgzzpp.png);
    background-position: center center;
  position: relative;
}
.main4 .content .bottom .dh .mx .wy{
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: white;
    position: absolute;
bottom: 15px;
}
.main4 .content .bottom .dh .hg{
    width: 204px;
    height: 100%;
    background-color: #ffa000;
    overflow: hidden;
padding-left: 20px;
display: none;
opacity: 0.9;
}
.main4 .content .bottom .dh .hg h3{
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: white;
}
.main4 .content .bottom .dh .hg p{
    font-size: 14px;
    line-height: 30px;
    color: white;
}
.main4 .content .bottom .dh .mx:hover .hg{
    display: block;
}
.main4 .content .bottom .dh .mx:hover .wy{
    display: none;
}
.main4 .main4-cen{
    height: 180px;
    width: 100%;
    background: url(../images/images/bg-help.png);
    position: relative;
    margin-bottom: 30px;
}
.main4 .main4-cen .help{
    font-size: 25px;
    line-height: 25px;
    font-weight: 800;
    position: absolute;
    top: 52px;
    left: 250px;
}
.main4 .main4-cen .h3-help a{
    display: inline-block;
    font-size: 18px;
    line-height: 60px;
    width: 180px;
    color: white;
    text-align: center;
    background-color: #ffa000;
    position: absolute;
    top: 50px;
    right: 150px;
    border-radius: 60px;
}

.main4 .main4-cen .p1-help{
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    top: 110px;
    left: 250px;
}
.main4 .main4-cen .p2{
    font-size: 12px;
    line-height: 12px;
    position: absolute;
    bottom: 42px;
    right: 150px;
}
/* -------main5-------- */
.main5{
    width: 100%;
height: 430px;  
background-color: #f8f8f8;  
}
.main5 .content{
    width: 1200px;
    margin: auto;
    overflow: hidden;
}
.main5 .content .title{
    font-size: 16px;
    line-height: 16px;
margin-top: 50px;
margin-bottom: 20px;
}
.main5 .content .main5-box{
    width: 100%;
    height: 120px;
    color: orange;
    /* list-style-position: inherit; */

}
.main5 .content .main5-box .hezi{
    width: 340px;
    height: 80px;
    margin-right: 30px;
    /* background-color: #666666; */
    list-style: disc;
    list-style-position: inside;
    white-space: pre-line;
    background-color: white;
    padding: 20px;
}
.main5 .content .main5-box .hezi a{
    color: #07151d;
    font-size: 16px;
}
.main5 .content .title2{
    font-size: 16px;
    line-height: 16px;
margin-top: 50px;
margin-bottom: 20px;
}
.main5 .content .jinlint{
    width: 856px;
    height: 143px;
}
.main5 .content .jinlint .list{
    width: 150px;
    height: 70px;
    background-color: white;
    margin-right: 24px;
    border: 1px solid #c8c8c8;
}
/* ---------footer-------- */
.footer{
    background-color: #1b1b1b;
    height: 626px;
}
.footer .content{
    width: 1200px;
    margin: auto;
}
.footer .content .pbq{
    width: 100%;
}
.footer .content .p1,.p2{
    width: 100px;
    height: 38px;
    font-size: 16px;
    line-height: 38px;
    color: #788b98;

}
.footer .content .user{
    width: 1200px;
}

.footer .content .list{
    height: 38px;
    width: 100px;
}
.footer .content .list a{
display: block;
font-size: 14px;
line-height: 38px;
margin-right: 30px;
color: #778888;
}
.footer .content .center{
    height: 270px;
    margin-top: 55px;
    border-top: 1px solid #9b9b9b;
    border-bottom: 1px solid #9b9b9b;

}
.footer .content .center ul{
    width: 160px;
}